.container{
background-color:silver;
width: 800px;
overflow: hidden;


}

.container section{
    background-color: cornflowerblue;
    float: left;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.one{
    margin: 15px;
    width: calc(100% - 30px);
}

.third{
    
    width: calc((100% - 60px)/3);
}

.half{

    width: calc((100% - 45px)/2);
}

.fourth{
 width: calc((100% - 75px)/4);
}

/*تكليف عدد 02*/

div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    
    color: black;
  }

  .normal{
    background-color: silver; /* Get The Background From Image */

  }

  .onee{
    background-color: #c0c0c00d;;
    opacity: 1; /* Get The Background From Image */
  }

  .two{
    background-color: silver; /* Get The Background From Image */
    opacity: .1;
  }

/*تكليف عدد 01 للدروس من 30 الى 33*/
div{
  width: 100px;
  height: 100px;
}

.green{
  background-color: green;
  position: absolute;
  z-index: 3;
  margin-top: 15px;
  margin-left: 15px;
}

.red{
  background-color: red;
  position: absolute;
  z-index: 4;
  margin-top: 22px;
  margin-left: 27px;
}

.blue{
  background-color: blue;
  position: absolute;
  z-index: 2;
  margin-left: 0px;
  margin-top: 7px;
 
  }

  .black{
    background-color: black;
    position: absolute;
    z-index: 1;
    margin-top: 15px;
  }

/* تكليف عدد 04 للدروس من 30 الى 33*/

table{
  width: 700px;
  
  border-spacing: 1px;
  text-align: center;
  border-bottom:2px solid green ;
}

table thead td{
background-color: dimgray;
text-align: center;
color: white;
text-transform: capitalize;
font-family: sans-serif;
}

table td{
  background-color: #eee;
  padding: 15px;
  text-transform: capitalize;
  font-family: sans-serif;
}


table td #vue{
  background-color: rgb(44, 197, 224);
  width: 50px;
  
}

#del{
  background-color: rgba(255, 0, 255, 0.424);
 
}
